main{
    width: 600px;
    margin: auto;
}

header, .col-1, .col-2, .col-3, footer{
    height: 150px;
    background: blue;
    margin-bottom: 30px;
    margin-right: 30px;
}

header{
    width: 100%;
}

.col-1, .col-2, .col-3{
    width: 180px;
    float: left;
}

.row .cell:last-child{
    margin-right: 0;
}

footer{
    clear: both;
    margin-right: 0;
}
