main{
    width: 600px;
    margin: auto;
}

.row div{
    height: 150px;
    background: blue;
    margin-bottom: 30px;
    margin-right: 30px;
}

.row{
    clear: both;
}

.row div:last-child{
    margin-right: 0;
}

.col-1{
    width: 180px;
    float: left;
    
}

.col-2{
    width: 390px;
    float: left;
}

.col-3{
    width: 100%;
}
