.message{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 300px;
    padding: 10px 15px;
    border: solid 1px gray;
    font-family: Arial, Helvetica, sans-serif;
}

.message a{
    position: absolute;
    top: 5px;
    right: 5px;
    text-decoration: none;
    color: grey;
}

.message p{
    margin: 0 0 10px;
}

.message span{
    color: grey;
    width: 280px;
    display: inline-block;
}