.badge{
    width: 100px;
    height: 100px;
    background: bisque;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.badge .label{
    height: 20px;
    background: red;
    color: white;
    position: absolute;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 40px;
    padding: 0 5px;
    border: 2px solid white;
}
